body {
    font-family: Arial, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #94B4C1
}

h1 {
    color: #213448;
    font-size: 2rem;
    margin-bottom: 1rem;
    opacity: 1.0;
}

h2 {
    color: #213448;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

header > img {
    display: block;
    margin-left : auto;
    margin-right: auto;
    max-width: 80%;
    margin-bottom: 3rem;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #547792;
    color: #213448;
    padding: 0.5rem;
    border-radius: 5px;
}

nav li {
    display: inline-block;
    margin: 0.5rem 0.5rem;
    text-shadow: #9EC6F3 1px 1px 2px;
    color: #213448;
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
    color: #213448;
    font-weight: bold;
}

nav ul:hover {
    box-shadow: #213448 2px 2px 10px;
}


section {
    margin-bottom: 2rem;
    display: flex;
}


.hero {
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-image: url("assets/hero-bg.webp");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    text-align: center;
    display: block;
    padding: 4rem 2rem;
}

article {
    flex: 1;
}

article.article-item {
    background-color: #547792;;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 10px;
}

article.article-item:hover {
    box-shadow: #213448 2px 2px 10px;
}

article img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}


footer {
    display: flex;
    align-items: center;
}

footer div {
    flex: 1;
}

footer img {
    max-height: 2rem;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #213448;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #ECEFCA;
    color: #213448;
    box-shadow: #213448 2px 2px 10px;
}

.btn-primary {
    font-weight: bold;
}